input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.login,
.sign-up {
  background-color: #0079d3;
  border-color: #0079d3;
  color: aliceblue;
  fill: #0079d3;
  border: 1px solid;
  border-radius: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 25px;
  text-transform: uppercase;
  padding: 10px 16px;
  opacity: 1;
}

html {
  padding: 0;
  height: 100%;
}
body {
  margin-top: 63px;
  height: 100%;
}
